/* This is just an example.  You shouldn't do this. */
#rosterprocessor-hello
{
  color: red ! important;
}
#rosterprocessor-toolbar-button
{
  list-style-image: url("chrome://rosterprocessor/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#rosterprocessor-toolbar-button:hover
{
  -moz-image-region: rect(0px 24px 24px 0px);
}
[iconsize="small"] #rosterprocessor-toolbar-button
{
  -moz-image-region: rect(0px 24px 24px 0px);
}
[iconsize="small"] #rosterprocessor-toolbar-button:hover
{
  -moz-image-region: rect(0px 24px 24px 0px);
}
